.project {
  /*border: solid 1px black;*/
}

.project:hover{
  color: darkslategray;
}

.flex-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: darkslategray;
}
