#new-project-heading{

}

.form-block{
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/

}

#form-wrapper{
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background-color: aliceblue;
}
