<div id="new-project-heading">
 <h1 class="display-3 text-center">Create new Project</h1>

</div>

<div class="col-md-7 col-lg-8 d-flex form-block">

  <div class="col-md-7 col-lg-8">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">

        <div class="">
          <label for="title" class="form-label">Title</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="title" placeholder="title" formControlName="title" required>
          </div>
        </div>
      </div>


      <div class="row g-3">
        <div class="">
          <label for="description" class="form-label">Description</label>
          <div class="input-group has-validation">
            <textarea type="text" class="form-control" id="description" placeholder="description"
                      formControlName="description" required rows="5"></textarea>
          </div>
        </div>
      </div>


      <button class="button btn-lg btn-outline-success" type="submit" [disabled]="!projectForm.valid">Create New Project
      </button>
    </form>

  </div>


</div>
