<p>new-project works!</p>
<div class="col-md-7 col-lg-8 d-flex form-block">

  <div class="col-md-7 col-lg-8">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">

        <div class="col-6">
          <label for="title" class="form-label">Title</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="title" placeholder="title" formControlName="title" required>
          </div>
        </div>


        <div class="col-6">
          <label for="description" class="form-label">content</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="description" placeholder="description" formControlName="description" required>
          </div>
        </div>


        <button class="button btn-lg col-3 btn-outline-success" type="submit" [disabled]="!projectForm.valid">Submit your post</button>
      </div>
    </form>

  </div>




</div>
