<div *ngIf="issue">

  <h1>{{issue.title}}</h1>
  <h3>{{issue.description}}</h3>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Issue update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <form [formGroup]="editIssueForm" (ngSubmit)="issueSubmit()">
      <div class="row g-3">

        <div class="col-6">
          <label for="title" class="form-label">Issue Title</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="title" placeholder="title" formControlName="title" required value="{{issue.title}}">
          </div>
        </div>


        <div class="col-6">
          <label for="description" class="form-label">Issue Description</label>
          <div class="input-group has-validation">
            <textarea type="text" class="form-control" id="description" placeholder="description" formControlName="description" required rows="3" >What what</textarea>
          </div>
        </div>


        <label for="status" class="control-label">Status</label>
        <select class="form-select" id="status" formControlName="status">
          <option selected>Open this select menu</option>
          <option value="open" >Open</option>
          <option value="closed">Closed</option>
        </select>


        <button class="button btn-lg btn-outline-success" type="submit" [disabled]="!editIssueForm.valid">Submit</button>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-success" (click)="open(content)">Edit Issue</button>
