<div *ngIf="issue.title">
  <div id="issue-heading" class="">
    <h1 class="display-3"> {{issue.title}}</h1>
    <h4 class="display-6">Status: {{issue.status}}</h4>
    <div class="description-box">
      <h5 class="display-6">Description: </h5>
     <p> {{issue.description}} </p>
    </div>
    <hr>
    <button class="btn btn-lg btn-outline-success" routerLink="/project/{{issue.projectId}}">Back to project</button>
    <button class="btn btn-lg btn-outline-success" routerLink="/issue/{{issueId}}/edit">Edit Issue</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Issue update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

